/* --- CSS custom properties --- */

:root {
  --gris: #343A40;

  --fuenteTerciaria: 'Playfair Display', serif;
  --fuentePrincipal: 'Raleway', sans-serif;
  --fuenteSecundaria: 'Roboto', sans-serif;
}


body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;

}

h1,h2,h3{
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 5.8rem;
}

h3{
  font-size: 5rem;
}

a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

img{
  max-width: 100%;
  display: block;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
  width: 80%;
 
}

.btn{
  color: var(--gris);
  background-color: white;
  border: 1px solid var(--gris);
  padding: .5rem 2rem;
  transition: background-color .3s;
}

.btn:hover{
  background-color: #343A40;
  color: white;
}

/* --- Utilidades --- */

.text-center{
  text-align: center;
}

.mt-5{
  margin-top: 5rem;
}

/* --- header --- */

.header{
  min-width: 60rem;
  background-image: url(./img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position:  center;
  
}

.slogan{
  color: white;
}



.contenido-header{
  display: flex;
  flex-direction: column;
  height: calc(20rem - 4rem);
  justify-content: space-between;
  color: white;
}

.nombre-sitio{
  font-weight: 100;
  text-align: left ;
  font-size: 2rem;
}

.nombre-sitio span{
  font-weight: 900;
  gap: 1;
}

.barra{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
