/* --- CSS custom properties --- */

:root {
  --gris: #343A40;

  --fuenteTerciaria: 'Playfair Display', serif;
  --fuentePrincipal: 'Raleway', sans-serif;
  --fuenteSecundaria: 'Roboto', sans-serif;
}


body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;

}

h1,h2,h3{
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}

h1{
  font-size: 3rem;
  color: white;
}

h2{
  font-size: 5.8rem;
}

h3{
  font-size: 5rem;
}

a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

img{
  max-width: 100%;
  display: block;
}

.contenedor{
  max-width: 90rem;
  margin: 0 auto;
  width: 90%;
  
 
}

.btn{
  color: var(--gris);
  background-color: white;
  border: 1px solid var(--gris);
  padding: .5rem 2rem;
  transition: background-color .3s;
}

.btn:hover{
  background-color: #343A40;
  color: white;
}

/* --- Utilidades --- */

.text-center{
  text-align: center;
}

.mt-5{
  margin-top: 5rem;
}

/* --- header --- */

.header{
  min-height: 10rem;
  background-image: url(./img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   
   
  
}


 

.contenido-header{
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  color: white;
}

.nombre-sitio{
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
  padding: 3rem 0;
}

@media (min-width: 768px){
  .nombre-sitio{
    font-size: 4rem;
  }
}

.nombre-sitio span{
  font-weight: 900;
}

@media (min-width: 768px){
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px){
  .contacto{
    align-items: flex-end;
  }
}

.telefono{
  display: flex;
}

.telefono::before{
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(./img/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.header a{
  font-size: 1.5rem;
}

.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navegacion a{
  border-radius: 8px;
  transition: background-color .3s;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px){
  .navegacion a{
    padding:.2rem 1rem;

  }
}

.navegacion a:hover{
  background-color: rgba(240, 238, 238, 0.4);
  color: black;
  font-weight: 700;
}

@media (min-width: 768px){
  .navegacion{
    flex-direction: row;
     
  }
}

.slogan{
  text-align: center;
}

@media (min-width: 768px){
  .slogan{
    text-align: right;
  }
}
.slogan h1{
  font-size: 3rem;
  margin: 0;
}

@media (min-width: 768px){
  .slogan h1{
    font-size: 4rem;
  }
}

.slogan p{
  margin: 0;
  line-height: 1;
}


 
 
