/* --- CSS custom properties --- */

:root {
  --gris: #343A40;

  --fuenteTerciaria: 'Playfair Display', serif;
  --fuentePrincipal: 'Raleway', sans-serif;
  --fuenteSecundaria: 'Roboto', sans-serif;
  --cursiva: 'Square Peg', cursive;
}


body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: #f5f4f4;

}

h1,h2,h3{
  font-weight: 900;
  margin: 1rem 0 2rem 0;
}

h1{
  font-size: 3rem;
  color: white;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}
p{
  font-size: 1rem;
   
}

a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

img{
  max-width: 100%;
  display: block;
}

.contenedor{
  max-width: 90rem;
  margin: 0 auto;
  width: 90%;
  
 
}

.btn{
  color: var(--gris);
  background-color: white;
  border: 1px solid var(--gris);
  padding: .5rem 2rem;
  transition: background-color .3s;
}

.btn:hover{
  background-color: #343A40;
  color: white;
}

/* --- Utilidades --- */

.text-center{
  text-align: center;
}

.mt-5{
  margin-top: 5rem;
}

/* --- header --- */

.header{
   max-height: 50rem;
  background-image: url(./img/heroC.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   
}

@media (min-width: 768px){
  .header{
    max-height: 25rem;
  }
  
}


 

.contenido-header{
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  color: white;
  
}

@media (min-width: 768px){
  .contenido-header{
    height: 20rem;
  }
}

@media (min-width: 1200px){
  .contenido-header{
    height: 30rem;
  }
}

.nombre-sitio{
  font-weight: 400;
  text-align: center;
  font-size: 1.9rem;
  padding-top: 1rem;
}

@media (min-width: 768px){
  .nombre-sitio{
    font-size: 2rem;
  }
}

@media (min-width: 1200px){
  .nombre-sitio{
    font-size: 3rem;
  }
}

.nombre-sitio span{
  font-weight: 900;
}

@media (min-width: 768px){
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
}



.contacto{
  display: flex;
  margin-top: 0;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
   
}



@media (min-width: 768px){
  .contacto{
    align-items: flex-end;
  }
}

.telefono{
  display: flex;
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
}


.telefono::before{
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(./img/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
   
}

.header a{
  margin: 0;
  font-size: 1.7rem;
}

.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.navegacion a{
  border-radius: 8px;
  transition: background-color .3s;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px){
  .navegacion a{
     font-size: 1rem;
     padding: .2rem ;
  }
}


@media (min-width: 1200px){
  .navegacion a{
    padding:.2rem 1rem;
    font-size: 1.5rem;
  }
}

.navegacion a:hover{
  background-color: rgba(240, 238, 238, 0.4);
  color: black;
  font-weight: 700;
}

@media (min-width: 768px){
  .navegacion{
    flex-direction: row;
     
  }
}

.slogan{
  text-align: center;
  padding-bottom: 50px;
}

@media (min-width: 768px){
  .slogan{
    text-align: right;
  }
}
.slogan h1{
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}

@media (min-width: 768px){
  .slogan h1{
    font-size: 2rem;
    margin-top: 2rem;
    color: rgba(240, 238, 238, 0.5);
  }
}

@media (min-width: 1200px){
  .slogan h1{
    margin-top: 0;
    
  }
}

.slogan p{
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
  text-decoration: overline;
  
  font-family: var(--cursiva);
}

@media (min-width: 768px){
  .slogan p{
    margin: 0;
    font-size: 2.4rem;
    line-height: 1;
    font-family: var(--cursiva);
  }
}


 
/* ----Nosotros ------ */

.nosotros{
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-image: url(./img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-width: 768px){
  .nosotros{
    grid-template-columns: repeat(3, 1fr);
  }
}


.contenido-nosotros{
  background-color: white;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 10px;
  padding:0 10px ;
}

@media (min-width: 768px){
  .contenido-nosotros{
    padding: 3rem 6rem;
    grid-column: 2 / 4;
     
  }
}

.contenido-nosotros h2{
  margin-bottom: 1rem;
  
}

.contenido-nosotros p{
  margin-bottom: 1rem;

}




/* ---  Modelos ---- */


 

 .modelo{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding-bottom: 3rem;
   
   
}

@media (min-width: 1200px){
  .modelo{
    width: 80%;
    
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

.titulo-modelo{
  text-align: center;
  text-decoration: underline;
}

.contenido-modelo{
  
  align-items: center; 
  padding:0.5rem 1em ;
  
}

@media (min-width: 1200px){
  .contenido-modelo{
    text-align: end;
    margin-top: 2rem;
  }
}




.contenedorImg {
  overflow:hidden;
  width: 90%;
  /* border-radius: 20%; */
  border-bottom-left-radius: 45px;
   
}

.contenedorImg:hover{
   
box-shadow: 0px 0px 15px 15px #c0e6f0;
-webkit-box-shadow: 0px 0px 15px 15px #c7c9ca;
}


.imagen{
  border-bottom-left-radius: 45px;
  transition-duration: .5s;
  
  
}


.contenedorImg:hover .imagen {
  -webkit-transform:scale(1.3);
  transform:scale(1.5);
  
  

}
 
 

.premier{
  
  
}

.elite{
   

}

.enlace-modelo{
  color: black;
  font-weight: 500;
  border: 1px solid rgb(194, 194, 194);
  padding: 5px;
  width: 30%;
}
